/*
.content{
    margin: 10px ;
    grid-area: c;
    background-blend-mode: screen;
    background:
            linear-gradient(limegreen, transparent),
            linear-gradient(90deg, skyblue, transparent),
            linear-gradient(-90deg, coral, transparent);
}
.content img{
    width:100%;
    height: 350px;
}*/


.profilic img{

    width: 20%;
    height: 20%;



}
